ul {
    padding-left: 0px !important;
}

.row {
    margin: auto;
    max-width: 1200pv;
}

.hidden {
    display: none;
}

.card {
    width: 14rem;
}

@media (max-width: 526px) {
    .card {
        width: 100%;
    }
}

.gaverder {
    margin-bottom: auto; 
    margin-top: auto;
}

.no-click {
    pointer-events: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

ul {
    margin-top: auto !important;
}